.div1 {
    display: inline;
    background-color: lightblue;
    margin: 20px 0;
    padding: 15px;
}
.p1 {
    display: inline;
    background-color: rgb(42, 50, 52);
    margin: 15px 0;
    padding: 12px;
}
.h10 {
    display: inline;
    background-color: #add8e6;
    margin: 10px 0;
    padding: 5px;
}
.img1 {
    display: block;
    background-color: #ade6b2;
    margin: 10px 0;
    padding: 10px;
}
.div2 {
    display: block;
    background-color:#dc143c;
    margin: 9px 0;
    padding: 20px;
    border: 1px solid black;
}
.div3 {
      display: block;      
      margin-bottom: 10px;
    }
.div4 {
      display: block;      
      margin-bottom: 10px;
}
